appdirs==1.4.4
certifi==2020.6.20
distlib==0.3.1
filelock==3.0.12
pipenv @ file:///private/tmp/pipenv-20201008-15510-1exexmz/pipenv-2020.8.13
six==1.15.0
virtualenv @ file:///private/tmp/pipenv--virtualenv-20201008-15510-tzwdt8/virtualenv-20.0.30
virtualenv-clone==0.5.4
